<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Traffic_SimulationFrame">
		<title>Traffic Simulation</title>
		<size>570,545</size>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_FRAME_STYLE|wxMAXIMIZE_BOX</style>
		<object class="wxMessageDialog" name="ID_MESSAGEDIALOG1" variable="MessageDialog1" member="yes">
			<caption>Message</caption>
			<message></message>
		</object>
	</object>
</wxsmith>
